*{
    font-family: 'Roboto', sans-serif; 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html,
body,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-family: 'Roboto', sans-serif;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;    
    font-size: 12px;
    color: #757575;
    font-family: 'Raleway', sans-serif;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    color: #757575;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

a:hover,
a:active,
a:focus {
    text-decoration: none;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.color-theme {
    color: #f7ca18;
}

.bg-color-theme,
.bnt-theme {
    background-color: #f7ca18;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.bg-color-theme:hover,
.bnt-theme:hover {
    opacity: 0.8;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}
.font12 {
    font-size: 12px;
}

.font13 {
    font-size: 13px;
}

.font14 {
    font-size: 14px;
}

.font15 {
    font-size: 15px;
}

.font16 {
    font-size: 16px;
}

.font17 {
    font-size: 17px;
}

.font19 {
    font-size: 19px;
}

.font20 {
    font-size: 20px;
}

.font21 {
    font-size: 21px;
}

.font25 {
    font-size: 25px;
}

.font28 {
    font-size: 28px;
}

.font36 {
    font-size: 36px;
}

.font42 {
    font-size: 42px;
}

.color-theme-dark {
    color: #333333;
}
.title{
    text-align: center;
    color: #000000bd;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 0 10px;
}
 .title:after{
    content: '';
    background-color: #870e1a;
    height: 2px;
    width: 60px;
    margin: 3px auto 0;
    clear: both;
    display: block;
    /* margin-bottom: 40px; */
}
.home-btn{
    background: #17a2b8 ;
    color: #fff !important;
    padding: 15px 40px;
    font-size: 16px;

}
.home-btn:hover{
    background-color: rgb(4, 53, 110);
    color: #fff;
}
/* Topnavbar */

/* Header */
.content-block{
    margin-bottom: 250px;;
 
 }
 .content-block h2{
     font-size: 50px;
     text-transform: uppercase;
     margin-bottom: 50px;
 }

 @media only screen and (max-width: 500px) {
      .content-block h2{
     font-size: 20px;
     text-transform: uppercase;
     margin-bottom: 50px;
     
 }

 }
  @media only screen and (max-width: 750px) {
      .content-block h2{
     font-size: 25px;
     text-transform: uppercase;
     margin-bottom: 50px;
      }
     
 }
/* Upcomming Event */

/* Upcomming Event */
/*** . Alumni dashboard ***/

.alumni-dashboard {
    padding: 75px 0;
}

.alumni-dashboard .title-dashboard {
    color: #484848;
    margin-bottom: 35px;
}

.alumni-dashboard .area-content .icon {
    width: 45px;
    height: 30px;
    margin: 0;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.alumni-dashboard .area-content .mail-icon {
    background-image: url("/images/message-icon.png");
}

.alumni-dashboard .area-content .account-icon {
    background-image: url("/images/account-icon.png");
}

.alumni-dashboard .area-content .group-icon {
    background-image: url("/images/group-icon.png");
}

.alumni-dashboard .area-content .search-icon {
    background-image: url("/images/search-icon.png");
}

.alumni-dashboard .area-content .box-content h4 {
    margin: 22px 0 30px;
    color: #484848;
}

.alumni-dashboard .area-content .box-content p {
    line-height: 1.8;
}

@media (max-width: 767px) {
    .alumni-dashboard .area-content .box-content {
        margin-bottom: 20px;
    }
}

.alumni-dashboard .login-dashboard {
    margin-top: 50px;
}

.alumni-dashboard .login-dashboard a {
    padding: 18px 32px;
    text-transform: uppercase;
    color: #fff;
    font-family: "Montserrat-Bold";
    font-size: 15px;
    display: inline-block;
    letter-spacing: 1px;
}

@media (max-width: 767px) {
    .alumni-dashboard {
        padding: 20px 0 !important;
    }
}
/* Block Links */

.block-links{
    background:#fff;
    padding-top: 150px;
    padding-bottom: 150px;    
    
    }

.block-links .title-links {
    padding: 10px 0;
    margin-bottom: 10px;
}

.block-links .title-links h3 {
    font-size: 21px;
    color: #2d2d2d;
}

.block-links h6 {
    color: #2d2d2d;
    line-height: 1.4;
    margin-bottom: 10px;
    margin-top: -5px;
}

.block-links p {
    color: #9f9f9f;
    font-size: 11px;
    line-height: 1.4;
    font-family: "Montserrat-Light";
}

.block-links .view-all {
    width: 100%;
    float: left;
}

.block-links .view-all a {
    background-color: #e9e9e9;
    text-align: center;
    color: #484848;
    font-family: "Montserrat-Light";
    text-transform: capitalize;
    padding: 16px 0;
    display: block;
    font-size: 14px;
}

.block-links .column-news .post-item {
    margin-bottom: 30px;
}

.block-links .column-news .image-frame {
    float: left;
}

.block-links .column-news .image-frame img {
    width: 100%;
}

.block-links .column-news .post-desc-wrapper {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 1200px) {
    .block-links .column-news .image-frame {
        width: 37%;
    }
    .block-links .column-news .post-desc-wrapper {
        width: 63%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .block-links .column-news .image-frame {
        width: 28%;
    }
    .block-links .column-news .post-desc-wrapper {
        width: 72%;
    }
}

@media (max-width: 991px) {
    .block-links .column-news .image-frame {
        width: 40%;
    }
    .block-links .column-news .post-desc-wrapper {
        width: 60%;
    }
}

.block-links .column-career .company-item {
    margin-bottom: 30px;
}

.block-links .column-career .company-logo {
    float: left;
}

.block-links .column-career .company-desc-wrapper {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 992px) {
    .block-links .column-career .company-logo {
        width: 37%;
    }
    .block-links .column-career .company-desc-wrapper {
        width: 63%;
    }
}

@media (max-width: 991px) {
    .block-links .column-career .company-logo {
        width: 25%;
    }
    .block-links .column-career .company-desc-wrapper {
        width: 75%;
        margin-top: 20px;
    }
}

.block-links .column-calendar {
    display: block;
    float: left;
}

.block-links .column-calendar .content-calendar {
    background-color: #fcfcfc;
    display: block;
    float: left;
}

.block-links .column-calendar .top-section {
    color: #484848;
    padding: 15px;
    border-bottom: 1px solid #e9e9e9;
}

.block-links .column-calendar .top-section h6 {
    margin: 0;
}

.block-links .column-calendar .top-section .calendar-icon {
    background: url("/images/calendar-icon.jpg") no-repeat;
}

.block-links .column-calendar .list-view {
    padding: 10px;
    float: left;
}

.block-links .column-calendar .list-view .view-item {
    border-bottom: 1px solid #e9e9e9;
    padding: 12px;
    width: 100%;
    float: left;
}

.block-links .column-calendar .list-view .view-item .date-item {
    width: 12%;
    float: left;
    padding: 0 2px;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.3;
}

.block-links .column-calendar .list-view .view-item .date-item .dates {
    color: #484848;
}

.block-links .column-calendar .list-view .view-item .date-item .day {
    font-size: 28px;
}

.block-links .column-calendar .list-view .view-item .date-item .month {
    color: #9f9f9f;
}

.block-links .column-calendar .list-view .view-item .date-desc-wrapper {
    width: 88%;
    float: left;
    padding-left: 20px;
}

.block-links .column-calendar .list-view .view-item .date-desc-wrapper .place {
    float: left;
    margin: 5px 0;
}

.block-links .column-calendar .list-view .view-item .date-desc-wrapper .place .text-place {
    color: #757575;
    font-size: 10px;
}

.block-links .column-calendar .list-view .view-item .date-desc-wrapper .place .map-icon {
    width: 15px;
    height: 15px;
    float: left;
    background: url("/images/map-icon.png") no-repeat;
    background-size: 13px 13px;
    margin-right: 5px;
}

@media (min-width: 991px) {
    .block-links .column-calendar .list-view {
        overflow-y: scroll;
        height: 434px;
    }
}

@media (max-width: 991px) {
    .block-links .block-news {
        margin-bottom: 30px;
    }
    .block-links .block-career {
        margin-bottom: 30px;
    }
}
/* Block links */
/* Newsletter */
.newsletter {
    padding: 135px 0 115px;
    background: url("/images/bg-newsletter.jpg") no-repeat;
    background-size: cover;
}

.newsletter .newsletter-wrapper {
    display: block;
}

.newsletter .newsletter-title {
    margin-bottom: 30px;
    color: #fff;
}

.newsletter .newsletter-title h2 {
    margin-bottom: 20px;
}

.newsletter .newsletter-title p {
    font-size: 14px;   
    color: #fff;
}

.newsletter .form-inline .form-control {
    background-color: transparent !important;
    border-top: none;
    border-right: none;
    border-left: none;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    margin: 0 auto;
    border-color: #7f87a5 !important;
}

.newsletter .form-inline button {
    clear: both;
    margin: 30px auto 0;
    display: block;
    border: none;
    padding: 16px 45px;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    
    letter-spacing: 1px;
}

@media (min-width: 768px) {
    .newsletter .newsletter-title h2 {
        font-size: 34px;
    }
    .newsletter .form-inline .form-control {
        width: 420px;
    }
}

@media (max-width: 767px) {
    .newsletter .newsletter-title h2 {
        font-size: 26px;
        line-height: 1.6;
    }
    .newsletter .newsletter-title p {
        display: none;
    }
    .newsletter .form-inline .form-control {
        width: 100%;
    }
}

.newsletter.type2 .form-inline button {
    color: #1a265c;
    
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px transparent;
    background-color: #fff;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: #e5e5e5;
    border: 0px solid #fff;
    border-radius: 10px;
    opacity: 0.5;
}
/* Newsletter */

/* Contact page */
.contact-page{
    margin-top: 100px;
    
}
.our-campus{
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
    margin-bottom: 100px;
}
.our-campus:after{
    content: '';
    display: block;
    clear: both;
}
.our-campus .timeline{
    width: calc(50% + 30px);
    padding: 0 60px 0 0;
    margin: 0 10px 10px 0;
    float: left;
}
.our-campus .timeline-content{
    color: #999;
    background: #fff;
    padding: 20px 70px 30px 35px;
    border-radius: 0 0 0 100px;
    border: 15px solid #01B3B2;
    display: block;
    position: relative;
}
.our-campus .timeline-content:hover{ text-decoration: none; }
.our-campus .timeline-content:after{
    content: '';
    background: #01B3B2;
    width: 60px;
    height: calc(50% + 15px);
    border-radius: 0 100px 0 0;
    transform: translateX(0) translateY(0);
    position: absolute;
    top: -15px;
    right: -75px;
}
.our-campus .timeline-icon{
    color: #01B3B2;
    background: linear-gradient(to right,#fff,#dfe6e9);
    font-size: 45px;
    text-align: center;
    line-height: 101px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: -50px;
    z-index: 1;
}
.our-campus .timeline-icon:before{
    content: "";
    background: linear-gradient(to right,#dfe6e9,#fff);
    width: 75%;
    height: 75%;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
}
.our-campus .title{
    color: #01B3B2;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 3px;
    margin-bottom: 20px;
}
.our-campus .description h6{
    font-size: 16px;
    letter-spacing: 0.5px;
    margin: 0;
    line-height: 30px;
    
}
.our-campus .timeline:nth-child(even){
    padding: 0 0 0 60px;
    margin: 0 0 10px 10px;
    float: right;
}
.our-campus .timeline:nth-child(even) .timeline-content{
    padding: 20px 35px 30px 70px;
    border-radius: 0 0 100px 0;
}
.our-campus .timeline:nth-child(even) .timeline-content:after{
    border-radius: 100px 0 0 0;
    right: auto;
    left: -75px;
}
.our-campus .timeline:nth-child(even) .timeline-icon{
    right: auto;
    left: -50px;
}
.our-campus .timeline:nth-child(4n+2) .timeline-content{ border-color: #864578; }
.our-campus .timeline:nth-child(4n+2) .timeline-content:after{ background-color: #864578; }
.our-campus .timeline:nth-child(4n+2) .timeline-icon,
.our-campus .timeline:nth-child(4n+2) .title{
    color: #864578;
}
.our-campus .timeline:nth-child(4n+3) .timeline-content{ border-color: #F66158; }
.our-campus .timeline:nth-child(4n+3) .timeline-content:after{ background-color: #F66158; }
.our-campus .timeline:nth-child(4n+3) .timeline-icon,
.our-campus .timeline:nth-child(4n+3) .title{
    color: #F66158;
}
.our-campus .timeline:nth-child(4n+4) .timeline-content{ border-color: #5C686B; }
.our-campus .timeline:nth-child(4n+4) .timeline-content:after{ background-color: #5C686B; }
.our-campus .timeline:nth-child(4n+4) .timeline-icon,
.our-campus .timeline:nth-child(4n+4) .title{
    color: #5C686B;
}
@media screen and (max-width:990px){
    .our-campus .timeline{ width: 70%; }
}
@media screen and (max-width:767px){
    .our-campus .timeline,
    .our-campus .timeline:nth-child(even){
        width: 100%;
        padding: 0 60px 0 0;
        margin: 0 0 20px 0;
    }
    .our-campus .timeline:nth-child(even){ padding: 0 0 0 60px; }
}
@media screen and (max-width:479px){
    .our-campus .timeline,
    .our-campus .timeline:nth-child(even){
        padding: 60px 0 0 0;
    }
    .our-campus .timeline-content,
    .our-campus .timeline:nth-child(even) .timeline-content{
        text-align: center;
        padding: 65px 25px 20px;
        border-radius: 0 0 100px 0;
    }
    .our-campus .timeline-content:after,
    .our-campus .timeline:nth-child(even) .timeline-content:after{
        width: calc(50% + 15px);
        height: 70px;
        border-radius: 100px 0 0 0;
        top: -75px;
        left: -15px;
        right: auto;
    }
    .our-campus .timeline-icon,
    .our-campus .timeline:nth-child(even) .timeline-icon{
        transform: translateX(-50%) translateY(0);
        top: -50px;
        left: 50%;
        right: auto;
    }
    .our-campus .title{ font-size: 22px; }
}
/* Footer */

/* Footer */

